
    <!-- Page Content -->
    <div id="page-content-wrapper">
  
  
      <div class="container-fluid" style="padding-top: 20px;">
      <div class="row">
       <div class="col-md-6">
         <h4 class="mb-3">Team Leads List</h4>
      </div> 
      <div class="col-md-6">
          <button class="btn btn-primary" style="float: right;" type="submit" (click)="registerLead()">Register Lead</button>

      </div>
    </div>
        <div class="col-md-12 order-md-1">
          <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="50" [scrollbarV]="true" [sorts]="[{prop: 'name', dir: 'desc'}]">
            <ngx-datatable-column name="Name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.name}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="EMP Id">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.username}}
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Email">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.email}}
              </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Mobile">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.mobile}}
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Language">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.language_name}}
              </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Bucket">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.bucket}}
                </ng-template>
              </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Login Count">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.loginCount}}
              </ng-template>
            </ngx-datatable-column> -->
              <ngx-datatable-column name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span><i class="fa fa-pencil" (click)="editLead(row)"></i></span>
                 <span style="padding-left: 10px;" *ngIf="row.status == '1'"><button class="btn btn-danger"  (click)="deactivateLead(row)"><i class="fa fa-times"></i></button></span>
                 <span style="padding-left: 10px;" *ngIf="row.status == '0'"><i class="btn btn-primary" (click)="activateLead(row)"><i class="fa fa-check"></i></i></span>
                 <!-- <span style="padding-left: 10px;" *ngIf="row.status == '1'"><i class="btn btn-primary" (click)="downloadEmployeeData(row)"><i class="fa fa-file-excel-o"></i></i></span> -->
                </ng-template>
              </ngx-datatable-column>
             
          </ngx-datatable>
        </div>
      </div>
    </div>
  <!-- /#wrapper -->