<!--Main Navigation-->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-6" style="margin-top:100px;">
      <div class="login-form">
        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="Username" class="sr-only">Username</label>
            <input type="text" id="Username" class="form-control" placeholder="Username" formControlName="username" autofocus>
            <span class="error" *ngIf="!f.username.valid && f.username?.touched"> Username is required</span>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password">
            <span class="error" *ngIf="!f.password.valid && f.password?.touched && !f.password.errors?.pattern"> Password is required</span>
            <span class="error" *ngIf="f.password.errors?.pattern"> Please enter valid password</span>
            <!-- <div class="checkbox mb-3">
              <a href="#"><label>
                change password
              </label></a>
            </div> -->
          <!-- <div class="form-group">
          <label for="username">Username:</label>
          <input type="text"  class="form-control" name="username" placeholder="Username" formControlName="username">
          <span class="error" *ngIf="!f.username.valid && f.username?.touched"> Username is required</span>
        </div>
        <div class="form-group">
          <input type="password"  class="form-control" name="password" placeholder="Password" formControlName="password">
          <span class="error" *ngIf="!f.password.valid && f.password?.touched && !f.password.errors?.pattern"> Password is required</span>
          <span class="error" *ngIf="f.password.errors?.pattern"> Please enter valid password</span>
        </div> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      </div>
    </div>
  </div>
</div>