

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid" style="padding-top: 20px;">
      <div class="row">
       <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
             <h4 class="mb-3">Assigned Data</h4>
           </div> 
           <div class="col-md-6" *ngIf="userType == 1">
             <button class="btn btn-primary" style="float: right; margin-right: 20px;" type="submit" (click)="exportAssignedData()">Export Data <i class="fa fa-file-excel-o"></i></button>
           </div>
         </div>
         <form [formGroup]="selectForm">
            <!-- <div class="row">
                  <div class="col-md-3">
                      <input type="text" style="padding:8px;margin:30px auto;width:100%;" placeholder="Enter Loan Id / Customer Id / Mobile Number" formControlName="employeeFilterValue" />
                  </div>
                  <div class="col-md-2 mb-3">
                      <button class="btn btn-primary" style="float: left; margin-right: 20px;margin-top: 30px;" type="submit" (click)="filterLoansByEmp()">Filter</button>
                  </div>
                  <div class="col-md-3 mb-3">
                      <label for="language">Select Employee To Assign</label>
                      <select class="custom-select d-block w-100" id="emplist" formControlName="employee" (change)="selectedEmp()">
                        <option value="">Choose...</option>
                        <option value="{{emp.id}}" *ngFor="let emp of empList" >{{emp.name}}</option>
                      </select>
                  </div>
            </div> -->
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="employeeToFilter">Select Employee For Filter</label>
                <select class="custom-select d-block w-100" id="employeeToFilter" formControlName="employeeToFilter">
                  <option value="ALL">--------- All ---------</option>
                  <option value="{{emp.id}}" *ngFor="let emp of empList" >{{emp.name}}</option>
                </select>
              </div>
              <div class="col-md-2">
                <label for="language">Select No Of Loans</label>
                <select class="custom-select d-block" id="noofloans" formControlName="noOfLoansSelected">
                    <option value="0">Choose...</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    <option value="200">200</option>
                    <option value="250">250</option>
                    <option value="300">300</option>
                </select>
              </div>
              <div class="col-md-2 mb-3">
                <button class="btn btn-primary" style="float: left; margin-right: 20px;margin-top: 30px;" type="submit" (click)="filterLoansByEmp()">Filter</button>
              </div>
              <div class="col-md-3 mb-3">
                <label for="language">Select Employee To Assign</label>
                <select class="custom-select d-block w-100" id="emplist" formControlName="employee" (change)="selectedEmp()">
                  <option value="">Choose...</option>
                  <option value="{{emp.id}}" *ngFor="let emp of empList" >{{emp.name}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="employeeToFilter">Select Status For Filter</label>
                <select class="custom-select d-block w-100" id="employeeToFilter" formControlName="statusToFilter">
                  <option value="{{status.status_type}}" *ngFor="let status of loanStatusList" >{{status.status_type}}</option>
                  <option value="null">Un Touched</option>
                </select>
              </div>
              <div class="col-md-2 mb-3">
                <button class="btn btn-primary" style="float: left; margin-right: 20px;margin-top: 30px;" type="submit" (click)="filterLoansByStatus()">Select</button>
              </div>

              <div class="col-md-4 mb-4">
                <input type="text" style="padding:8px;margin:30px auto;width:100%;" placeholder="Enter LoanId / Mobile / Customer Name to Filter" formControlName="loanIdFilterValue" (keyup)="filterLoansById()" />
              </div>
            </div>
         <!-- <div class="col-md-12 mb-3">
          <label for="language">Select Employee</label>
          <select class="custom-select d-block w-100" id="emplist" formControlName="employee" (change)="selectedEmp()">
            <option value="">Choose...</option>
            <option value="{{emp.id}}" *ngFor="let emp of empList" >{{emp.name}}</option>
          </select>
        </div> -->
      </form>
      </div> 
    </div>
      <!-- <div class="row">
        <div class="col-md-3">
          <h5>Filters to select loans</h5>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-3">
          <input type="text" style="padding:8px;margin:30px auto;width:100%;" placeholder="Overdue Days" formControlName="loansSelectionOd" />
        </div>
        <div class="col-md-3">
          
        </div>
      </div> -->
        <div class="col-md-12 order-md-1">
          <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="50" [scrollbarV]="true" [sorts]="[{prop: 'name', dir: 'desc'}]">
            <ngx-datatable-column name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" [(ngModel)]="row.theCheckbox" class="custom-control-input" data-md-icheck (change)="toggleVisibility($event,row)" id="{{row.id}}" name="example1">
                        <label class="custom-control-label" for="{{row.id}}"></label>
                      </div>              
                  </ng-template>
              </ngx-datatable-column>
            <ngx-datatable-column name="Customer Name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.customerName}}
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Mobile">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.mobile}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.email}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="City">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.city}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Due Date">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.due_date}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Assigned To">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.assignedToName}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Assigned Status">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <i class="fa fa-check assignedcheck" aria-hidden="true" *ngIf="row.assignedLoan"></i>
                </ng-template>
              </ngx-datatable-column> -->
              <ngx-datatable-column name="Loan Id">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <!-- <span title="Customer Name : {{row.customer_Name}} &#013; Customer Id : {{row.Customer_id}}" class="tooltipContainer">{{row.loan_id}}</span> -->
                    {{row.loan_id}}
                  </ng-template>
                </ngx-datatable-column>
                <!-- <ngx-datatable-column name="Customer Number">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span title="{{row.ref_name1}} ({{row.ref_type1}}) : {{row.ref_mobile_num1}} &#013; {{row.ref_name2}} ({{row.ref_type2}}) : {{row.ref_mobile_num2}}" class="tooltipContainer">{{row.mobile}}</span>
                  </ng-template>
                </ngx-datatable-column> -->
                <!-- <ngx-datatable-column name="Due Date">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.due_date}} <b>({{row.overdue_days}})</b>
                    </ng-template>
                  </ngx-datatable-column> -->
                <!-- <ngx-datatable-column name="State">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.state}}
                  </ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name="Principal Amount">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.principal_amt}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Bucket">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.bucket}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Assigned To">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.name}}
                    </ng-template>
                  </ngx-datatable-column>
                <ngx-datatable-column name="Status">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.status}}
                  </ng-template>
                </ngx-datatable-column>
          </ngx-datatable>
          <div class="col-md-12 order-md-1" style="    padding-bottom: 20px;">
              <div class="row">
                  <div class="col-md-4">
                      <button class="btn btn-danger btn-lg btn-block" type="submit" [disabled]="" (click)="unassignLoanDetails()" *ngIf="userType == 1">Un - Assign</button>
                  </div>
                  <div class="col-md-4">
                      <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="" (click)="assignLoanDetails()" *ngIf="userType == 1">Assign</button>
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="" (click)="filterLoanDetails()">Filter</button>
                </div>
              </div>
          </div>
        </div>
        
      </div>
  </div>