.ngx-datatable.material {
    background: #fff;
    box-shadow: none !important;
}
.ngx-datatable, .info {
    text-align: left;
    width: 100% !important;
    margin: 0 auto;
}
.payment-done-style{
    color:grey;
    font-weight: bold;
}
.PTP-style{
    color: orange;
    font-weight: bold;
}
.RNR-style{
    color: blue;
    font-weight: bold;
}
.switch-off-style{
    color: red;
    font-weight: bold;
}
.payment-expected-style{
    color: yellowgreen;
    font-weight: bold;
}
.payment-completed-style{
    color: green;
    font-weight: bold;
}
.tooltipContainer{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}
.fixed-status-container{
    position: fixed;
    top: 0px;
}

.fixed-status-container .card-body{
    height: 100%;
}

.opacity-0-1{
    opacity: 0.1;
}

.info-badge{
    background: #E53935;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
    font-weight: bolder;
}