<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <!-- <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Loan Recovery </div>
      <div class="list-group list-group-flush">
        <a  class="list-group-item list-group-item-action bg-light" (click)="clickSide('elist')" *ngIf="userType == '1'">Employee List</a>
        <a  class="list-group-item list-group-item-action bg-light" (click)="clickSide('xlupload')" *ngIf="userType == '1'">Excel Upload</a>
        <a  class="list-group-item list-group-item-action bg-light" (click)="clickSide('aloan')" *ngIf="userType == '1'">Assign Loan</a>
        <a  class="list-group-item list-group-item-action bg-light" (click)="clickSide('cdetails')" *ngIf="userType == '0'">Customer Loan Details</a>

      </div>
    </div> -->
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
  
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <!-- <button class="btn btn-primary" id="menu-toggle" (click)="togglemenu()"><i class="fa fa-bars" aria-hidden="true"></i>
        </button>
   -->
        <div class="sidebar-heading"><b>INFRO TECH</b></div>

        <a class="nav-item nav-link" style="color: orange">Total Assigned Amount : {{totalAssignedAmount}}</a> | 
        <a class="nav-item nav-link" style="color: grey">Waiting For Confirmation : {{totalPendingAmount}}</a> |
        <a class="nav-item nav-link" style="color: green">Total Recovered Amount : {{totalRecoveredAmount}}</a> |
        <a class="nav-item nav-link" style="color: green">Total Calls Done : {{callsDone}}</a> | 
        <a class="nav-item nav-link" style="color: orange">Calls Remaining : {{callsRemaining}}</a>

        <!-- <div style="position: absolute;right: 70px;">Sreeram</div> -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <!-- <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <!-- <a class="dropdown-item" href="#">Profile</a> -->
                <a class="dropdown-item" href="#">Logout</a>
                <!-- <div class="dropdown-divider"></div> -->
                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid" style="padding-top: 20px;">
        <div class="row">
         <div class="col-md-6">
           <h4 class="mb-3">Hi {{empName}} ({{empBucket}}),</h4>
           <!-- <div class="col-md-12 mb-3">
            <label for="language">Select Employee</label>
            <select class="custom-select d-block w-100" id="emplist">
              <option value="">Choose...</option>
              <option value="emp.id" *ngFor="let emp of empList">{{emp.name}}</option>
            </select>
          </div> -->
        </div> 
      </div>
      <div class="row">
          <div class="col-md-10 order-md-1">
              <div class="row">
                <div class="col-md-5">
                  <form [formGroup]="selectForm">
                    <!-- <label for="principalAmount">Principal Amount</label> -->
                    <ng-multiselect-dropdown [placeholder]="'Select Principal Amount'" [data]="principalAmountList"
                    formControlName="principalAmount" [settings]="dropdownSettings">
                    </ng-multiselect-dropdown>
                  </form>
                </div>
                <div class="col-md-5">
                  <form [formGroup]="selectForm">
                    <!-- <label for="principalAmount">Principal Amount</label> -->
                    <ng-multiselect-dropdown [placeholder]="'Select Status'" [data]="statusValuesList"
                    formControlName="statusValues" [settings]="dropdownSettings">
                    </ng-multiselect-dropdown>
                  </form>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="updateCustomFilters()">Filter</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="row">
                      <div class="col-md-8">
                          <input type="text" style="padding:8px;margin:15px auto;width:100%;" placeholder="Select Date" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [(ngModel)]="dateTime1" />
                          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                      </div>
                      <div class="col-md-4">
                          <button class="btn btn-primary btn-mg btn-block" type="submit" (click)="updateDataByDate()" style="padding:8px;margin:15px auto;">Submit</button>
                      </div>
                  </div>
                </div>
                <div class="col-md-3">
                    <input type="text" style="padding:8px;margin:15px auto;width:100%;" placeholder="Type to filter" (keyup)="updateFilter($event)" />
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-mg btn-block" type="submit" (click)="downloadCustomerMobileNumbers()" style="padding:8px;margin:15px auto;">Download Customer Mobile Numbers</button>
                </div>
              </div>

            <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="50" [scrollbarV]="true" [sorts]="[{prop: 'Name', dir: 'desc'}]"  [selected]="selected"
              [selectionType]="SelectionType.single"
              (select)="onSelect($event)" *ngIf="!mobileView">
             
              <ngx-datatable-column name="Name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span title="City : {{row.city}} &#013; Pincode : {{row.pin_code}} &#013; Customer Id : {{row.Customer_id}}" class="tooltipContainer">{{row.customer_Name}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Mobile">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span title="{{row.ref_name1}} ({{row.ref_type1}}) : {{row.ref_mobile_num1}} &#013; {{row.ref_name2}} ({{row.ref_type2}}) : {{row.ref_mobile_num2}}" class="tooltipContainer">{{row.mobile}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Loan Id">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.loan_id}} ({{row.Loan_Count}})
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="State">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.state}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Principal">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.principal_amt}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Interest">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.interest_amount}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Penalty">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.penalty_amt}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Repayment">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.repayment_amt}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Disbursal Date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.disbursal_date}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Due Date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.due_date}} <b>({{row.overdue_days}})</b>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Status">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="priorityLoan" *ngIf="row.noOfComments == 0"></div>
                  <div [ngClass]="{'payment-done-style': row.statusId == '5', 'PTP-style' : row.statusId == '1', 'RNR-style' : row.statusId == '2', 'switch-off-style' : row.statusId == '3', 'payment-expected-style' : row.statusId == '4', 'payment-completed-style' : row.statusId == '6'}"> {{row.status}} </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <i class="fa fa-eye" (click)="viewDeials(row)"></i>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

            <div *ngIf="mobileView" [ngClass]="{'opacity-0-1': showActionsContainer}">
              <div *ngFor="let row of rows" style="border-bottom: 1px solid black; margin-top:5px; padding-bottom: 5px; float: left;">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <strong>{{row.loan_id}} : </strong> {{row.customer_Name}} ({{row.mobile}})
                      </div>
                      <div class="col-md-12">
                        <strong>Ref 1 : </strong>{{row.ref_name1}} ({{row.ref_type1}}) ({{row.ref_mobile_num1}})
                      </div>
                      <div class="col-md-12">
                        <strong>Ref 2 : </strong> {{row.ref_name2}} ({{row.ref_type2}}) ({{row.ref_mobile_num2}})
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <strong>Principal Amount : </strong> {{row.principal_amt}}
                      </div>
                      <div class="col-md-12">
                        <strong>Repayment Amount : </strong> {{row.repayment_amt}} ({{row.interest_amount}})
                      </div>
                      <div class="col-md-12">
                        <strong>Penalty Amount : </strong> {{row.penalty_amt}}
                      </div>
                      <div class="col-md-12">
                        <strong>Loan Count : </strong> {{row.Loan_Count}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <!-- <span class="info-badge">Calls Done : {{row.callsDone?row.callsDone:0}}</span> &nbsp; -->
                    Status : 
                    <div class="priorityLoan" *ngIf="row.noOfComments == 0"></div>
                    <span [ngClass]="{'payment-done-style': row.statusId == '5', 'PTP-style' : row.statusId == '1', 'RNR-style' : row.statusId == '2', 'switch-off-style' : row.statusId == '3', 'payment-expected-style' : row.statusId == '4', 'payment-completed-style' : row.statusId == '6'}"> {{row.status}} </span>    <button class="btn btn-primary"  (click)="editStatus(row)" style="margin-left: 10px;" *ngIf="row.statusId != 6"> <span><i class="fa fa-pencil"></i></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 order-md-1" [ngClass]="{'fixed-status-container': mobileView}">
            <div class="card row" style="margin: 1px;" *ngIf="showActionsContainer">
              <div class="card-body" style="height:80vh">
                 
                  <form [formGroup]="selectForm">
                      <div class="form-group">
                          <label for="callType">Type</label>
                          <select class="form-control custom-select d-block w-100" id="callType"  formControlName="callType">
                              <option value="Customer">Customer</option>
                              <option value="Parent">Parent</option>
                              <option value="Reference">Reference</option>
                          </select>
                        </div>
                    <div class="form-group">
                      <label for="status">Status</label>
                      <select class="form-control custom-select d-block w-100" id="status"  formControlName="status">
                          <option value="">Choose...</option>
                          <option value="{{status.id}}" *ngFor="let status of loanStatus">{{status.status_type}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comments</label>
                        <textarea row="2" type="text" class="form-control" id="comment" formControlName="comment"></textarea>
                      
                    </div>
                    <!-- <div class="form-group">
                      <label for="uploadfile">Upload Document</label>
                      <div class="custom-file">
                          <input class="form-control" type="file" name="file" id ="uploadfile" ng2FileSelect [uploader]="uploader" />
  
                          <button type="button" class="btn btn-success btn-s" 
                            (click)="uploader.uploadAll()" 
                            [disabled]="!uploader.getNotUploadedItems().length" >
                                Upload
                          </button>
                        </div>
                      </div> -->
                     
           
                      <hr class="mb-4">
                      <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="submitDetails()"
                     [disabled]="">Submit</button>
                     <button class="btn btn-danger btn-lg btn-block" type="submit" (click)="cancelStatusUpdate()"
                     [disabled]="" *ngIf="mobileView">Cancel</button>
                    </form>
                    <br>
                    <div>
                      <h6><u>Past Comments</u></h6>
                      <ul>
                        <li *ngFor="let pastStatus of loanPastStatus"> * {{pastStatus.status}} ({{pastStatus.dateTime.substring(11,16)}}) ({{pastStatus.callType}}) : {{pastStatus.loan_comments}}</li>
                      </ul>
                    </div>
                    <div>
                      <a href="https://web.whatsapp.com/send?{{whatsappMsg}}" target="_blank"><button class="btn btn-primary btn-lg btn-block" type="button">Send whatsapp Msg</button></a>
                    </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>