.ngx-datatable.material {
    background: #fff;
    box-shadow: none !important;
}
.ngx-datatable, .info {
    text-align: left;
    width: 100% !important;
    margin: 0 auto;
}
.payment-done-style{
    color:grey;
    font-weight: bold;
}
.PTP-style{
    color: orange;
    font-weight: bold;
}
.RNR-style{
    color: blue;
    font-weight: bold;
}
.switch-off-style{
    color: red;
    font-weight: bold;
}
.payment-expected-style{
    color: yellowgreen;
    font-weight: bold;
}
.payment-completed-style{
    color: green;
    font-weight: bold;
}
.tooltipContainer{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}