<!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid" style="padding-top: 20px;">
      <h4 class="mb-3">Single Employee Excel Upload</h4>
      <input type="file" name="file" ng2FileSelect [uploader]="uploader" />

      <button type="button" class="btn btn-success btn-s" 
        (click)="uploader.uploadAll()" 
        [disabled]="!uploader.getNotUploadedItems().length" >
            Upload
      </button>
      <form [formGroup]="newDataForm">
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="employee"><b>Select Employee</b></label>
            <select class="custom-select d-block w-100" id="employee"  formControlName="employee">
              <option value="">-- select employee --</option>
              <option value="{{emp.id}}" *ngFor="let emp of empList" >{{emp.name}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>