  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div class="container-fluid" style="padding-top: 20px;">
      <h4 class="mb-3">Excel Upload</h4>
      <input type="file" name="file" ng2FileSelect [uploader]="uploader" />

      <button type="button" class="btn btn-success btn-s" 
        (click)="uploader.uploadAll()" 
        [disabled]="!uploader.getNotUploadedItems().length" >
            Upload
      </button>
      <form [formGroup]="newDataForm">
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="newbatch"><b>New Batch ?</b></label>
            <select class="custom-select d-block w-100" id="newbatch"  formControlName="newBatch">
              <option value="NO">No</option>
              <option value="YES">Yes</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="team"><b>Select Team</b></label>
            <select class="custom-select d-block w-100" id="team"  formControlName="team" (change)="getUsersWithKnownLanguagesOfTeam()">
              <option value="ALL">ALL</option>
              <option *ngFor="let lead of activeLeads" value="{{lead.id}}" >{{lead.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="client"><b>Select Client</b></label>
            <select class="custom-select d-block w-100" id="client"  formControlName="client">
              <option value="LoanFront">Loan Front</option>
              <option value="RedCarpet">Red Carpet</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="perEmployee"><b>Loans Per Employee</b></label>
            <input type="text" class="form-control" id="perEmployee" formControlName="perEmployee">
          </div>
        </div>
      </form>
      
    </div>
  </div>