<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <app-navigation></app-navigation>

  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle" (click)="togglemenu()"><i class="fa fa-bars" aria-hidden="true"></i>
      </button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href="#">Profile</a> -->
              <a class="dropdown-item" href="#">Logout</a>
              <!-- <div class="dropdown-divider"></div> -->
              <!-- <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid" style="padding-top: 20px;">
      <h4 class="mb-3">Excel Upload</h4>
      <input type="file" name="file" ng2FileSelect [uploader]="uploader" />

      <button type="button" class="btn btn-success btn-s" 
        (click)="uploader.uploadAll()" 
        [disabled]="!uploader.getNotUploadedItems().length" >
            Upload
      </button>
      <form [formGroup]="newDataForm">
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="newbatch"><b>New Batch ?</b></label>
            <select class="custom-select d-block w-100" id="newbatch"  formControlName="newBatch">
              <option value="NO">No</option>
              <option value="YES">Yes</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="team"><b>Select Team</b></label>
            <select class="custom-select d-block w-100" id="team"  formControlName="team" (change)="getUsersWithKnownLanguagesOfTeam()">
              <option value="ALL">ALL</option>
              <option *ngFor="let lead of activeLeads" value="{{lead.id}}" >{{lead.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="perEmployee"><b>Loans Per Employee</b></label>
            <input type="text" class="form-control" id="perEmployee" formControlName="perEmployee">
          </div>
        </div>
      </form>
      
    </div>
  </div>
</div>