  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><b>INFRO TECH</b></div>
      <div class="list-group list-group-flush">
        <a  class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='elist'}" (click)="clickSide('elist')" >Employee List</a>
        <a  class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='leadlist'}" (click)="clickSide('leadlist')" *ngIf="userRole == 1">Team Leads</a>
        <a  class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='xlupload'}"  (click)="clickSide('xlupload')" *ngIf="userRole == 1">New Data Upload</a>
        <a class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='oldxlupload'}" (click)="clickSide('oldxlupload')" *ngIf="userRole == 1">Old Data Upload</a>
        <a class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='singleempdataupload'}" (click)="clickSide('singleempdataupload')" *ngIf="userRole == 1">Single Employee Data Upload</a>
        <a  class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='aloan'}" (click)="clickSide('aloan')" >Assigned Loans</a>
        <a  class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='ualoan'}" (click)="clickSide('ualoan')" >Un-assigned Loans</a>
        <a  class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='filteredloan'}" (click)="clickSide('filteredloan')" >Filtered Loans</a>
        <a class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='repaymentdataupload'}" (click)="clickSide('repaymentdataupload')" *ngIf="userRole == 1">Repayment Data Upload</a>
        <a class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='reports'}" (click)="clickSide('reports')">Reports</a>
  
      </div>
    </div>
    <!-- /#sidebar-wrapper -->