  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Loan Recovery </div>
      <div class="list-group list-group-flush">
        <a  class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='elist'}" (click)="clickSide('elist')" >Employee List</a>
        <a  class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='xlupload'}"  (click)="clickSide('xlupload')" >New Data Upload</a>
        <a class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='oldxlupload'}" (click)="clickSide('oldxlupload')">Old Data Upload</a>
        <a  class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='aloan'}" (click)="clickSide('aloan')" >Assign Loan</a>
        <a class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='repaymentdataupload'}" (click)="clickSide('repaymentdataupload')">Repayment Data Upload</a>
        <a class="list-group-item list-group-item-action bg-light" [ngClass]="{'activetab':activeTab =='reports'}" (click)="clickSide('reports')">Reports</a>
  
      </div>
    </div>
    <!-- /#sidebar-wrapper -->