  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div class="container-fluid" style="padding-top: 20px;">
      <div class="row">
        <div class="col-md-4">
          <h4 class="mb-3">Download Loans</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="text" style="padding:8px;margin:5px auto;width:100%;" placeholder="Enter Mobile number" [(ngModel)]="mobileNumber" />
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary" type="button" (click)="sendOtp()" *ngIf="!otpSent">Send OTP</button>
        </div>
      </div>

      <div class="row" *ngIf="otpSent">
        <div class="col-md-6">
          <input type="text" style="padding:8px;margin:5px auto;width:100%;" placeholder="Enter OTP" [(ngModel)]="otpValue" />
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary" type="button" (click)="downloadData()">Verify OTP and Download Data</button>
        </div>
      </div>
  </div>
  </div>