.ngx-datatable.material {
    background: #fff;
    box-shadow: none !important;
}
.ngx-datatable, .info {
    text-align: left;
    width: 100% !important;
    margin: 0 auto;
}
// .ngx-datatable.scroll-vertical {
//     height: 45vh;
// }
.assignedcheck{
    color: green;
    font-size: 20px;
}
.hide{
    display: none;
}