
  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div class="container-fluid" style="padding-top: 20px;">
    <div class="row">
     <div class="col-md-6">
       <h4 class="mb-3">Employee List</h4>
    </div> 
    <div class="col-md-6" *ngIf="userType == 1">
        <button class="btn btn-primary" style="float: right;" type="submit" (click)="registerEmp()">Register Employee</button>
    </div>
  </div>
  <form [formGroup]="empListForm">
    <div class="row">
      <div class="col-md-3">
          <input type="text" style="padding:8px;margin:30px auto;width:100%;" placeholder="Enter Emp Name / Bucket" formControlName="employeeFilterValue" />
      </div>
      <div class="col-md-2 mb-3">
          <button class="btn btn-primary" style="float: left; margin-right: 20px;margin-top: 30px;" type="submit" (click)="filterEmp()">Filter</button>
      </div>
    </div>
  </form>
      <div class="col-md-12 order-md-1">
        <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="50" [scrollbarV]="true" [sorts]="[{prop: 'name', dir: 'desc'}]">
          <ngx-datatable-column name="Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.name}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="EMP Id">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.username}}
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="Email">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.email}}
            </ng-template>
          </ngx-datatable-column> -->
          <!-- <ngx-datatable-column name="Mobile">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.mobile}}
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column name="Language">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.language_name}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Bucket">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.bucket}}
              </ng-template>
            </ngx-datatable-column>
          <!-- <ngx-datatable-column name="Login Count" *ngIf="userType == 1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.loginCount}}
            </ng-template>
          </ngx-datatable-column> -->
            <ngx-datatable-column name="Action" *ngIf="userType == 1 || userType == 3">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.status == '1'"><i class="fa fa-pencil" (click)="editEmp(row)"></i></span>
               <span style="padding-left: 10px;" *ngIf="row.status == '1'"><button class="btn btn-danger"  (click)="deactivateEmp(row)"><i class="fa fa-times"></i></button></span>
               <!-- <span style="padding-left: 10px;" *ngIf="row.status == '1'"><button class="btn btn-danger"  (click)="deactivateEmpWRL(row)"><i class="fa fa-times"></i> WRL</button></span> -->
               <!-- <span style="padding-left: 10px;" *ngIf="row.status == '0'"><i class="btn btn-primary" (click)="activateEmp(row)"><i class="fa fa-check"></i></i></span> -->
               <span style="padding-left: 10px;" *ngIf="row.status == '1'"><i class="btn btn-primary" (click)="downloadEmployeeData(row)"><i class="fa fa-file-excel-o"></i></i></span>
               <!-- <span style="padding-left: 10px;" *ngIf="row.status == '1'"><button class="btn btn-danger"  (click)="unassignLoans(row)">UnAssign</button></span> -->
              </ng-template>
            </ngx-datatable-column>
           
        </ngx-datatable>
      </div>
    </div>
  </div>